@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.App {
  text-align: center;
}
.header {
  text-shadow: 3px 3px 3px white;
}
/* write your parent styles in here for your App.js */

body {
  line-height: 1.5;
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 0.5rem;
}

h1 {
  font-size: 5rem;
  color: white;
}