body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapertag.com%2Fwallpaper%2Ffull%2Fc%2Fb%2F3%2F272188-popular-rick-and-morty-wallpaper-1920x1080.jpg&f=1&nofb=1');
  background-repeat: none;
}
